<div fxLayout="row" fxLayoutAlign="center center" style="margin-top: 0%">    
  <mat-card class="example-card">
    <div>
      <form action="/action_page.php" class="container">
    
        <label for="email" style="color: white;">Email</label>
        <input type="text" placeholder="" name="email" required>
    
        <label for="psw" style="color: white;">Password</label>
        <input type="password" placeholder="" name="psw" required>
    
        <button routerLink="/dashboard" mat-raised-button>Entrar</button>
      </form>
    </div>
    <img mat-card-image src="../../../../assets/images/login-back.png" alt="back-login">
  </mat-card>
</div>

  <router-outlet></router-outlet>
  




