<div fxLayout="row" fxLayoutAlign="center center" style="margin-top: 5%">    
  <div fxLayoutAlign="center">

    <mat-form-field class="example-full-width" style="width: 500px;">
      <mat-label><mat-icon>search</mat-icon>Digite sua dúvida ou o modelo do produto</mat-label>
      <input matInput placeholder="Digite aqui">
    </mat-form-field>
    
    
  </div>
</div>


<div fxLayout="row" fxLayoutAlign="center" style="margin-top: 5%">    
  <div fxLayoutAlign="center">

    <mat-card class="Retngulo-6767" >
      <img mat-card-image src="https://cdn.zeplin.io/5e736c64bdb230b5803a20fd/assets/0b5c4a9a-04c3-411c-88a9-0ea9ed1aa7b2.png" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p style="color: #041e50;">
          Ar Condicionado Split Inverter 12000 Btus Frio - Electrolux (QI12F/QE12F)
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button style="background-color:#041e50; color: white; width: 100%;" mat-raised-button>Detalhes</button>
      </mat-card-actions>
    </mat-card>

    <mat-card class="Retngulo-6767" >
      <img mat-card-image src="https://cdn.zeplin.io/5e736c64bdb230b5803a20fd/assets/0b5c4a9a-04c3-411c-88a9-0ea9ed1aa7b2.png" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p style="color: #041e50;">
          Ar Condicionado Split Inverter 12000 Btus Frio - Electrolux (QI12F/QE12F)
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button style="background-color:#041e50; color: white; width: 100%;" mat-raised-button>Detalhes</button>
      </mat-card-actions>
    </mat-card>

    <mat-card class="Retngulo-6767" >
      <img mat-card-image src="https://cdn.zeplin.io/5e736c64bdb230b5803a20fd/assets/0b5c4a9a-04c3-411c-88a9-0ea9ed1aa7b2.png" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p style="color: #041e50;">
          Ar Condicionado Split Inverter 12000 Btus Frio - Electrolux (QI12F/QE12F)
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button style="background-color:#041e50; color: white; width: 100%;" mat-raised-button>Detalhes</button>
      </mat-card-actions>
    </mat-card>

    <mat-card class="Retngulo-6767" >
      <img mat-card-image src="https://cdn.zeplin.io/5e736c64bdb230b5803a20fd/assets/0b5c4a9a-04c3-411c-88a9-0ea9ed1aa7b2.png" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p style="color: #041e50;">
          Ar Condicionado Split Inverter 12000 Btus Frio - Electrolux (QI12F/QE12F)
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button style="background-color:#041e50; color: white; width: 100%;" mat-raised-button>Detalhes</button>
      </mat-card-actions>
    </mat-card>

    <mat-card class="Retngulo-6767" >
      <img mat-card-image src="https://cdn.zeplin.io/5e736c64bdb230b5803a20fd/assets/0b5c4a9a-04c3-411c-88a9-0ea9ed1aa7b2.png" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p style="color: #041e50;">
          Ar Condicionado Split Inverter 12000 Btus Frio - Electrolux (QI12F/QE12F)
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button style="background-color:#041e50; color: white; width: 100%;" mat-raised-button>Detalhes</button>
      </mat-card-actions>
    </mat-card>
    
  </div>
</div>

<div fxLayout="row" fxLayoutAlign="center" style="margin-top: 5%">    
  <div fxLayoutAlign="center">

    <mat-card class="Retngulo-6767" >
      <img mat-card-image src="https://cdn.zeplin.io/5e736c64bdb230b5803a20fd/assets/0b5c4a9a-04c3-411c-88a9-0ea9ed1aa7b2.png" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p style="color: #041e50;">
          Ar Condicionado Split Inverter 12000 Btus Frio - Electrolux (QI12F/QE12F)
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button style="background-color:#041e50; color: white; width: 100%;" mat-raised-button>Detalhes</button>
      </mat-card-actions>
    </mat-card>

    <mat-card class="Retngulo-6767" >
      <img mat-card-image src="https://cdn.zeplin.io/5e736c64bdb230b5803a20fd/assets/0b5c4a9a-04c3-411c-88a9-0ea9ed1aa7b2.png" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p style="color: #041e50;">
          Ar Condicionado Split Inverter 12000 Btus Frio - Electrolux (QI12F/QE12F)
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button style="background-color:#041e50; color: white; width: 100%;" mat-raised-button>Detalhes</button>
      </mat-card-actions>
    </mat-card>

    <mat-card class="Retngulo-6767" >
      <img mat-card-image src="https://cdn.zeplin.io/5e736c64bdb230b5803a20fd/assets/0b5c4a9a-04c3-411c-88a9-0ea9ed1aa7b2.png" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p style="color: #041e50;">
          Ar Condicionado Split Inverter 12000 Btus Frio - Electrolux (QI12F/QE12F)
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button style="background-color:#041e50; color: white; width: 100%;" mat-raised-button>Detalhes</button>
      </mat-card-actions>
    </mat-card>

    <mat-card class="Retngulo-6767" >
      <img mat-card-image src="https://cdn.zeplin.io/5e736c64bdb230b5803a20fd/assets/0b5c4a9a-04c3-411c-88a9-0ea9ed1aa7b2.png" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p style="color: #041e50;">
          Ar Condicionado Split Inverter 12000 Btus Frio - Electrolux (QI12F/QE12F)
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button style="background-color:#041e50; color: white; width: 100%;" mat-raised-button>Detalhes</button>
      </mat-card-actions>
    </mat-card>

    <mat-card class="Retngulo-6767" >
      <img mat-card-image src="https://cdn.zeplin.io/5e736c64bdb230b5803a20fd/assets/0b5c4a9a-04c3-411c-88a9-0ea9ed1aa7b2.png" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p style="color: #041e50;">
          Ar Condicionado Split Inverter 12000 Btus Frio - Electrolux (QI12F/QE12F)
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button style="background-color:#041e50; color: white; width: 100%;" mat-raised-button>Detalhes</button>
      </mat-card-actions>
    </mat-card>
    
  </div>
</div>



<router-outlet></router-outlet>





