.mat-toolbar {
    background: white;
    color: #B00B1B;
}

a:hover{
    border: 2px solid #B00B1B;
}

.Retngulo-6767 {
        width: 200px;
        box-shadow: 0 2px 22px 0 rgba(0, 0, 0, 0.1);
        background-color: #ffffff;
        margin-left: 1%;
}

.Seus-produtos {
    width: 186px;
    height: 34px;
    font-family: ElectroluxSans;
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.71;
    letter-spacing: normal;
    text-align: center;
    color: #041e50;
    padding-left: 5%;
  }