<div fxLayout="row" [class.mat-elevation-z2]="'true'" class="header-panel">
  <div fxLayout="row" fxFlex="100%" fxLayoutAlign="center center">
    <!-- <div fxFlex="80%" fxLayout="column">
      
    </div> -->
      <img src="assets/images/logo.png" alt="" class="img-alt">

      <a mat-button class="Produtos">Produtos</a>
      <a mat-button class="Dvidas-frequentes">Dúvidas frequentes</a>
      <a mat-button class="Fale-conosco">Fale conoscos</a>
      <a mat-button class="Instalao-e-Manuteno">Instalação e Manutenção</a>
      <a mat-button class="Suporte">Suporte</a>
      <a mat-button class="Minha-conta">
        <mat-icon>person_outline</mat-icon>Minha Conta
      </a>

  </div>
</div>